
/* Corps */
#mysection
{
   display: flex;
   margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  max-width: 1600px;
  margin: 0 auto;
}

#articleInMySection, #asideInMySection
{
    text-align: justify;
}

#articleInMySection
{
    margin-right: 20px;
    flex: 3;
}

#articleInMySection p
{
    font-size: 0.8em;
}
#articleInMySection h1
{
    margin-left: 15px;
}
#asideInMySection
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
	display: flex;
	justify-content: space-between;
}

#asideone{
	
	
}
#asidetwo{
	
}
#pfeile
{
    position: absolute;
	width: 50px;
	height: 60px;
    top: 70px;
    left: -38px;
}



/*grid layout*/
.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profilpic
{
	height: 255px;
	width: 255px;
}
/*heading style*/
h1
{
    text-align: left;
	margin: 15px;
}
h2
{
    text-align: left;
}


/*micellanous style*/


/*responsive Design*/
@media only screen and (max-width: 1200px)
{
    .item2
    {
        grid-row: 2;
        grid-column: 1;
    }
    .item-down-article
    {
        grid-column: 1 / span 1;
        grid-row: 3;

    }
    .grid-container-article
    {
        grid-template-columns: 1fr;
    }
	#mysection
    {
      flex-direction: column;
	  justify-content: space-between;
    }
	  #pfeile
    {
        display:none;
		
    }
	#articleInMySection, #asideInMySection
    {
        width: auto;
        margin-bottom: 15px;
    }
	#asideInMySection
	{
		justify-content:flex-start;
	}
}
 
@media only screen and (max-width: 800px)
{
    img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
		
    }
    .grid-container
    {
        grid-template-columns: 1fr;
    }
	
	
}
