img{
  display: block;
  margin:0 auto;
  width:100%;
  height: 100%;
}

[class*="box-"]{
  padding: 5%;
}
.box-1{
  grid-area: box1;
}
.box-2{
  grid-area: box2;
}
.box-3{
  grid-area: preview;
}
.box-4{
  grid-area: article;
}
.box-5{
  grid-area: footer;
}

.wrapper{
  border-width: 4px;
  border-style: ridge;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px,auto);
    grid-template-areas:
    "box1    box1    box2    box2"
    " preview preview preview preview"
    "article article article article"
    "footer  footer  footer  footer";
}

@media only screen and (max-width: 768px) {
 /* For mobile phones: */
 .wrapper{
   margin:0;
   grid-template-columns: auto;
   grid-auto-rows: minmax(200px,auto);
   grid-template-areas:
   "box1"
   "box2"
   "preview"
   "article"
   "footer";
 }

 img{
   width: 90%;
   height: 70%;
 }
}

 @media only screen and (min-width: 769px) {
  /* For desktor: */
}
