.login ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#bigfont {
    font-size: 1.2em;
}

.login li {
    float: right;
    padding-right: 5%;
}

.login li a:hover,
{
    background-color: #192183;
}

.login ul {
    background-color: #1a75ff;
}