/*grid layout*/
.grid-container {
    display: grid;

}

.profilpic {
    height: 255px;
    width: 255px;
}

h1 {
    text-align: left;
}

h2 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 4%;
}

/*Arbeitsplatz*/
.workingArea {
    color: snow;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

#zuPrüfen {
    background: red;
}

#geprüft {
    background: #1a75ff;
}

/*next magazin*/
.nextMagazine {
    background-color: rgb(170, 170, 170);

}

.containerElement {
    background-color: rgb(190, 190, 200);
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.containerChild {
    background-color: rgb(200, 200, 220);
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.parentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.centerButton {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.margin {
    margin-left: 3%;
    margin-right: 3%;
}

@media only screen and (max-width: 1100px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .parentContainer {
        grid-template-columns: 1fr;
    }
}