/*general Stuff*/
* 
{
    box-sizing: border-box;
}
body
{
    background-color: azure;
    font-family: 'Open Sans', sans-serif;
}
main
{
    margin-left: 20%;
    margin-right: 40%;
}
#formInput
{
    width: 100%;
    height: 50px;
    font-size: 110%;
}
.roundCorner
{
    border-radius: 1px;
    border-bottom-color: darkslategrey;
}
h2
{
    font-size: 300%;
}
Label
{
    font-size: 150%;
}
.titelbild
{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}