.login ul ,.nav_main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24489a;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.search ,.login li {
    float: right
}

.nav_main input[type=text] {
  padding: 6px;
    font-size: 12px;
    margin-top: 9.2px;
    margin-right: 7px;
    margin-bottom: 7px;
    border: 1px #ffffff;
    float: right;
    width: 80%;
    background: #f1f1f1;
}

.nav_main li {
    float: left;
}

.login li a, .nav_main li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 13px;
    text-decoration: none;
}

.login li a:hover, .nav_main li a:hover {
    background-color: #192183;
}

.login li a:hover, .nav_main .active {
    background-color: #192183;
}


@media only screen and (max-width: 768px) {
  .nav_main ul { width: 100%; font-weight: normal; }
   	.nav_main ul li { width: 50%; float: left; }
   	.nav_main ul li:nth-of-type(odd) a { border-right: 1px solid #ccc; }
   	.nav_main ul li a { padding: 8px 0px; border-bottom: 1px solid #ccc; display: block; }
    .search {width: 48%;}
}

@media only screen and (min-width: 769px) {
  .login ul, .nav_main ul{
    padding-left: 16.66%;
    padding-right: 16.66%;
  }
}
