
.autorInfoBox{
  grid-area: box-1;
}

.autorIntroBox{
  grid-area: box-2;
}

.articleInformation{
  grid-area: box-3;
}

.wrapper{
  display: grid;
  grid-gap: 5%;
  grid-template: 1fr 2fr;
  grid-auto-rows: minmax(200px,auto);
  grid-template-areas:
  "box-1 box-2"
  "box-3";
}
