article .login ul {
    list-style-type: none;
    margin-left: 15px;
	margin-right: 15px;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to top right, #0076ff, darkblue);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

article .login li {
    text-align: center;
}
#text
{
text-align: center;	
}

article .login ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 13px;
    text-decoration: none;
}

article .login li a:hover {
    background-color: #192183;
}

article.login li a:hover {
    background-color: #192183;
}

